body {
    height:100%;
    width:100%;
    position: absolute;
    top: 10%;
    left: 1%;
    right: 3%;
    bottom:10%;
    background-color: #ffe6cc;
}

.container{
  display:inline;
}

.column{
  height: 100%;
  width:33.33%;
  float:left;
  position:relative;
  display:table;
}

.MUButton{
  background-color: #ff6600;
  border-radius: 5px;
  border-style: groove;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10%;
  margin-bottom:20%;
  height:10%;
  width:auto;
  min-height:30px;
  display:table;
  text-align: center;
}

.row{
  margin-bottom:4%;
  margin-top:4%;
  font-family: arial;
  font-size: 14px;
  color:white;
  text-align: left
}

.bulb {
  height: 15px;
  width: 15px;
  background-color: RGB(255,255,255);
  border-radius: 70%;
  margin: 4px auto;
  margin-right:0px;
  margin-bottom:5px;
}

#cout{
  margin:10% 5%;
  border-style:ridge;
  background-color:black; 
  border-width:1%;
  border-color: #0000d7;
  color:#00d700;
  border-width:0.5px;
  height: 30%;
  width:auto; 
}

.providerUI{
  width:100%;
  display:table;
}
.PRLabel{
  background-color: black;   
  border-radius: 14px;
  width:120px;
  margin-left:auto;
  margin-right:auto;
  color: RGB(230,230,230);
  height:5%;
  font-family: Arial;
  font-weight:bold;
  display:table;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.logoPr{
  border-radius: 100px;
  margin-left:auto;
  margin-right:auto;
  width:20%;
  height:auto;
  background-color: white;
  color: white;
  display:table;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  margin-top:10%;
  margin-bottom:10%;
}

.acceptButton{
  visibility:hidden;
  background-color: grey; 
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-bottom:10%;
}

.acceptButton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.rejectButton{
  visibility:hidden;
  background-color: grey;
  border: none;
  border-radius: 5px;
  display:inline;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-bottom:10%;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.rejectButton:hover {
  background-color: #ff0000; /* Green */
  color: white;
}

.notif{
  text-align:center;
  font-family:Arial;
  font-size:14px;
  visibility:hidden;
}

.sprite{
  overflow:hidden;
  position:absolute;
  visibility: hidden;
}

.msg{
  overflow:hidden;
  position:relative;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
  color:#00d700;
  height:20px;
}